<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>194720999323-vm1afdmf594gvclvhfpogdl2m7kl08pv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194720999323-vm1afdmf594gvclvhfpogdl2m7kl08pv</string>
	<key>API_KEY</key>
	<string>AIzaSyDWPUmka-Vd3nys5eA4rVIbiICDMXiG3Vw</string>
	<key>GCM_SENDER_ID</key>
	<string>194720999323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adamzemmoura.IFLD-Calculator</string>
	<key>PROJECT_ID</key>
	<string>ifld-calculator</string>
	<key>STORAGE_BUCKET</key>
	<string>ifld-calculator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:194720999323:ios:b1721125f2845d95</string>
	<key>DATABASE_URL</key>
	<string>https://ifld-calculator.firebaseio.com</string>
</dict>
</plist>